/* PAGE TEAM TITLE */
.page-title-team{
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../../assets/images/Krasava/team-champ.jpg");
    background:         linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../../assets/images/Krasava/team-champ.jpg");
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0rem 5%;
    padding-top: 8rem;
    min-height: 40rem;
}
.page-title-team .title{
    border-left: 0.4rem solid var(--main-color);
    padding-left: 1rem;
}

.page-title-team .title h2{
    color: var(--white);
    font-size: 5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.page-title-team .link{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.8rem;
}
.page-title-team .link a{
    font-weight: 600; 
    color: var(--white);
}

.page-title-team .link a:hover{
    color: var(--main-color);
}

.page-title-team .link i{                               
    color: var(--white);
}

.page-title-team .link span{
    font-weight: 500;
    color: var(--white);
}
/* PAGE TEAM TITLE */



/* PAGE ABOUT TITLE */
.page-title-about{
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../../assets/images/Krasava/aboutus_banner.png");
    background:         linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../../assets/images/Krasava/aboutus_banner.png");
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0rem 5%;
    padding-top: 8rem;
    min-height: 40rem;
}
.page-title-about .title{
    border-left: 0.4rem solid var(--main-color);
    padding-left: 1rem;
}

.page-title-about .title h2{
    color: var(--white);
    font-size: 5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.page-title-about .link{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.8rem;
}
.page-title-about .link a{
    font-weight: 600; 
    color: var(--white);
}

.page-title-about .link a:hover{
    color: var(--main-color);
}

.page-title-about .link i{                               
    color: var(--white);
}

.page-title-about .link span{
    font-weight: 500;
    color: var(--white);
}
/* PAGE ABOUT TITLE */


/* PAGE TICKETS TITLE */
.page-title-tickets{
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../../assets/images/Krasava/fan_banner.JPG");
    background:         linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),  url("../../assets/images/Krasava/fan_banner.JPG");
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0rem 5%;
    padding-top: 8rem;
    min-height: 40rem;
}
.page-title-tickets .title{
    border-left: 0.4rem solid var(--main-color);
    padding-left: 1rem;
}

.page-title-tickets .title h2{
    color: var(--white);
    font-size: 5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.page-title-tickets .link{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.8rem;
}
.page-title-tickets .link a{
    font-weight: 600; 
    color: var(--white);
}

.page-title-tickets .link a:hover{
    color: var(--main-color);
}

.page-title-tickets .link i{                               
    color: var(--white);
}

.page-title-tickets .link span{
    font-weight: 500;
    color: var(--white);
}
/* PAGE TICKETS TITLE */
