<!DOCTYPE html>
<html lang="en"> 
<head>
      
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

  <!-- Title -->   
  <title>Royal Rebels | Football Club</title>    
  
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="../../assets/images/favicon.ico">

  <!-- Font-Awesome (CSS) -->
  <link rel="stylesheet" href="../../assets/vendors/font-awesome/css/all.min.css">

  <!-- Magnific-Popup (CSS) -->
  <link rel="stylesheet" href="../../assets/vendors/magnific-popup/magnific-popup.css">

  <!-- Custom Stylesheets -->
  <link rel="stylesheet" href="../../assets/css/main.css">
  <link rel="stylesheet" href="../../assets/css/responsive.css">

</head> 
<body> 

  <!-- ==================== Scroll-Top Area (Start) ==================== -->
  <a href="#" class="scroll-top">
    <i class="fa-solid fa-arrow-up-long"></i>
  </a>
  <!-- ==================== Scroll-Top Area (End) ==================== -->



  <!-- ==================== Header Area (Start) ==================== -->
  <header class="header">

    <!-- ===== Header-1 Area (Start) ===== -->
    <div class="header-1">

      <!-- == Social == -->
      <ul class="social-contacts">
        <li><a href="#" class="fab fa-facebook-f"></a></li>
        <li><a href="#" class="fab fa-twitter"></a></li>
        <li><a href="#" class="fab fa-instagram"></a></li>
        <li><a href="#" class="fab fa-linkedin"></a></li>
      </ul>

    </div>
    <!-- ===== Header-1 Area (End) ===== -->

    <!-- ===== Header-2 Area (Start) ===== -->
    <div class="header-2">

      <!-- == Logo == -->
      <a class="logo" href="../../index.html">
        <img src="../../assets/images/Logo/Logo.png" alt="logo">
      </a>

      <div class="container">

        <!-- == Navbar == -->
        <nav class="navbar">

          <a class="nav-btn" href="../../index.html">home</a>

          <div class="dropdown-menu">
            <button class="nav-btn">about</button>
            <div class="dropdown-content">
              <a href="../../pages/About/About.html">about us</a>
              <a href="../../pages/About/Testimonials.html">testimonials</a>
              <a href="../../pages/About/FAQs.html">fAQs</a>
            </div>
          </div>

          <div class="dropdown-menu">
            <button class="nav-btn">Pages</button>
            <div class="dropdown-content">
              <a href="../../pages/Pages/Point-Table.html">Point Table</a>
              <a href="../../pages/Pages/Fixtures.html">Fixtures</a>
              <a href="../../pages/Pages/Fixture-Single.html">Fixture Single</a>
              <a href="../../pages/Pages/Portfolio.html">Portfolio</a>
              <a href="../../pages/Pages/Portfolio-Single.html">Portfolio Single</a>
              <a href="../../pages/Pages/Sponsors.html">Sponsors</a>
              <a href="../../pages/Pages/Login.html">login</a>
              <a href="../../pages/Pages/Register.html">register</a>
              <a href="../../pages/Pages/Reset-Password.html">forgot Password</a>
            </div>
          </div>

          <div class="dropdown-menu">
            <button class="nav-btn">team</button>
            <div class="dropdown-content">
              <a href="../../pages/Team/Team.html">team</a>
              <a href="../../pages/Team/Coaches.html">coaches</a>
              <a href="../../pages/Team/Coach-Single.html">coach single</a>
              <a href="../../pages/Team/Players.html">players</a>
              <a href="../../pages/Team/Player-Single.html">player single</a>
            </div>
          </div>

          <div class="dropdown-menu">
            <button class="nav-btn">Result</button>
            <div class="dropdown-content">
              <a href="../../pages/Result/Results.html">Results</a>
              <a href="../../pages/Result/Result-Single.html">Result Single</a>
            </div>
          </div>

          <div class="dropdown-menu">
            <button class="nav-btn">blog</button>
            <div class="dropdown-content">
              <a href="../../pages/Blog/Blog-Grid.html">blogs grid</a>
              <a href="../../pages/Blog/Blog-List.html">blogs list</a>
              <a href="../../pages/Blog/Blog-Single.html">blog Single</a>
            </div>
          </div>

          <div class="dropdown-menu">
            <button class="nav-btn">shop</button>
            <div class="dropdown-content">
              <a href="../../pages/Shop/Shop-Grid.html">shop grid</a>
              <a href="../../pages/Shop/Shop-List.html">shop list</a>
              <a href="../../pages/Shop/Product-Single.html">product Single</a>
              <a href="../../pages/Shop/Wishlist.html">wishlist</a>
              <a href="../../pages/Shop/Cart.html">cart</a>
              <a href="../../pages/Shop/Checkout.html">checkout</a>
            </div>
          </div>

          <a class="nav-btn" href="../../pages/Contact/Contact.html">contact</a>

        </nav> 

        <!-- == Icon Container == -->
        <div class="icon-container"> 
          <div id="search-btn" class="icon fa-solid fa-magnifying-glass"></div> <!-- Search Icon -->
          <a href="../../pages/Shop/Cart.html"><i class="icon fa-solid fa-cart-arrow-down"></i></a>
          <div id="menu-btn" class="icon fa-solid fa-bars-staggered"></div>
        </div>

        <!-- == Search Container == -->
        <form class="search-container">
          <input type="search" id="search-bar" placeholder="search here" required> <!-- Search Input -->
          <button type="submit"><i class="fas fa-search"></i></button> <!-- Submit Button -->
        </form>

      </div>

    </div>
    <!-- ===== Header-2 Area (End) ===== -->

    <!-- ===== Mobile Menu Area (Start) ===== -->
    <div class="mobile-menu"> 
    
      <nav class="mobile-navbar">

        <div class="nav-link">
          <div class="main-nav-link"> <a class="nav-btn" href="../../index.html">home</a> </div>
        </div>   

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">about</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="../../pages/About/About.html">about us</a>
            <a href="../../pages/About/Testimonials.html">testimonials</a>
            <a href="../../pages/About/FAQs.html">fAQs</a>
          </div>
        </div> 

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">pages</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="../../pages/Pages/Point-Table.html">Point Table</a>
            <a href="../../pages/Pages/Fixtures.html">Fixtures</a>
            <a href="../../pages/Pages/Fixture-Single.html">Fixture Single</a>
            <a href="../../pages/Pages/Portfolio.html">Portfolio</a>
            <a href="../../pages/Pages/Portfolio-Single.html">Portfolio Single</a>
            <a href="../../pages/Pages/Sponsors.html">Sponsors</a>
            <a href="../../pages/Pages/Login.html">login</a>
            <a href="../../pages/Pages/Register.html">register</a>
            <a href="../../pages/Pages/Reset-Password.html">forgot Password</a>
          </div>
        </div> 

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">team</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="../../pages/Team/Team.html">team</a>
            <a href="../../pages/Team/Coaches.html">coaches</a>
            <a href="../../pages/Team/Coach-Single.html">coach single</a>
            <a href="../../pages/Team/Players.html">players</a>
            <a href="../../pages/Team/Player-Single.html">player single</a>
          </div>
        </div> 

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">Result</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="../../pages/Result/Results.html">Results</a>
            <a href="../../pages/Result/Result-Single.html">Result Single</a>
          </div>
        </div> 

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">blog</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="../../pages/Blog/Blog-Grid.html">blogs grid</a>
            <a href="../../pages/Blog/Blog-List.html">blogs list</a>
            <a href="../../pages/Blog/Blog-Single.html">blog Single</a>
          </div>
        </div> 

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">Shop</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="../../pages/Shop/Shop-Grid.html">shop grid</a>
            <a href="../../pages/Shop/Shop-List.html">shop list</a>
            <a href="../../pages/Shop/Product-Single.html">product Single</a>
            <a href="../../pages/Shop/Wishlist.html">wishlist</a>
            <a href="../../pages/Shop/Cart.html">cart</a>
            <a href="../../pages/Shop/Checkout.html">checkout</a>
          </div>
        </div> 

        <div class="nav-link">
          <div class="main-nav-link"> <a class="nav-btn" href="../../pages/Contact/Contact.html">contact</a> </div>
        </div>  

      </nav> 
    
    </div>
    <!-- ===== Mobile Menu Area (End) ===== -->

  </header>
  <!-- ==================== Header Area (End) ==================== -->  


    
  <!-- ==================== Page-Title (Start) ==================== -->
  <div class="page-title">

    <div class="title">
      <h2>Blog Single</h2>
    </div> 

    <div class="link">
      <a href="../../index.html">Home</a>
      <i class="fa-solid fa-angles-right"></i>
      <span class="page">Blog Single</span>
    </div>

  </div>
  <!-- ==================== Page-Title (End) ==================== -->


    
  <!-- ==================== Blog Single (Start) ==================== -->
  <section class="blog-single">

    <!-- ========== Blog-Info Container (Start) ========== -->
    <div class="blog-container">

      <!-- Blog Information -->
      <div class="blog-info page-info">

        <div class="image">
          <img src="../../assets/images/Blog/Blogs/Blog-1.jpg" alt="Football-Equipment-Image"> <!-- Football Equipment Image -->
          <div class="date"><span>02</span>dec</div> <!-- Blog Date -->
        </div>
    
        <div class="content">
  
          <!-- Blog Main Heading -->
          <h6 class="main-heading">Complete List Of Football Equipment</h6>
  
          <!-- Blog Details -->
          <div class="details">
            <h5><i class="fa-solid fa-circle-user"></i><span>By Admin</span></h5> <!-- Author -->
            <h5><i class="fa-regular fa-folder-open"></i><span>Sport Center</span></h5> <!-- Category -->
          </div>
  
          <!-- Blog Description -->
          <p>Discover the essential football equipment needed for both players and teams. From jerseys and boots to goalposts and training gear, explore the comprehensive list of equipment that shapes the game we love. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut accusamus, voluptate, dicta consequuntur quae.</p>
          <p>Learn about the advancements in football technology, safety gear, and the importance of quality equipment in enhancing player performance and the overall football experience. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut accusamus, voluptate, dicta consequuntur quae,</p>
  
          <!-- Important Note -->
          <div class="important">
            <i class="fa-solid fa-quote-left"></i>
            <div class="box-container">
              Experience the camaraderie and shared passion that comes with being part of our football club. Join us in fostering teamwork and creating memorable moments on the field.
              <div class="intro">
                <span></span>
                <h6>Club Spirit Advocate</h6>
              </div>
            </div>
          </div>
  
          <!-- Blog Description -->
          <p>Learn about the various benefits of being part of our football club, including the positive impact on individual skills, the joy of teamwork, and the sense of belonging that comes from representing our club on the field.</p>

          <!-- Blog Gallery -->
          <div class="blog-gallery page-gallery">
  
            <a href="../../assets/images/Blog/Blog-Gallery/1.jpg">
              <img src="../../assets/images/Blog/Blog-Gallery/1.jpg" alt="Football-Equipment-Gallery-Image">
            </a>
            <a href="../../assets/images/Blog/Blog-Gallery/2.jpg">
              <img src="../../assets/images/Blog/Blog-Gallery/2.jpg" alt="Football-Equipment-Gallery-Image">
            </a>
  
          </div>
  
          <!-- Blog Description -->
          <p>Visualize the evolution of football equipment through images that showcase the latest innovations and iconic moments in the history of football gear. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut accusamus, voluptate, dicta consequuntur quae,</p>
  
          <!-- End Details -->
          <div class="end-details">
  
            <!-- Blog Tags -->
            <div class="tags">
              <a href="#"><span>Football</span></a>
              <a href="#"><span>Equipment</span></a>
              <a href="#"><span>Technology</span></a>
            </div>

            <!-- Social Media Share Buttons -->
            <div class="share">
              <h3>Share:</h3>
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>
            </div>
  
          </div>
    
        </div>
    
      </div>
    
      <!-- Blog Comments -->
      <div class="comments">

        <h4>3 Comments</h4>
    
        <div class="box-container">
    
          <!-- Comment-1 -->
          <div class="comment-item">
  
            <div class="main comment">
              <div class="comment-image">
                <img src="../../assets/images/Blog/Comments/Pic-1.jpg" alt="Comment-Author-Pic">
              </div>
              <div class="comment-content">
                <div class="comment-intro">
                  <div class="text">
                    <h3>Benjamin Alexander</h3>
                    <h6>dec 02, 2023</h6>
                  </div>
                  <div class='icon-item'><i class="fas fa-reply"></i><span>Reply</span></div>
                </div>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias sapiente ullam esse laudantium corporis pariatur.</p>
              </div>
            </div>
  
            <!-- Reply to Comment 1 -->
            <div class="reply comment">
              <div class="comment-image">
                <img src="../../assets/images/Blog/Comments/Pic-2.jpg" alt="Comment-Author-Pic">
              </div>
              <div class="comment-content">
                <div class="comment-intro">
                  <div class="text">
                    <h3>Isabella Grace</h3>
                    <h6>dec 03, 2023</h6>
                  </div>
                  <div class='icon-item'><i class="fas fa-reply"></i><span>Reply</span></div>
                </div>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias sapiente ullam esse laudantium corporis pariatur.</p>
              </div>
            </div>
  
          </div>
  
          <!-- Comment-2 -->
          <div class="comment-item">
  
            <div class="main comment">
              <div class="comment-image">
                <img src="../../assets/images/Blog/Comments/Pic-3.jpg" alt="Comment-Author-Pic">
              </div>
              <div class="comment-content">
                <div class="comment-intro">
                  <div class="text">
                    <h3>Samuel James</h3>
                    <h6>dec 03, 2023</h6>
                  </div>
                  <div class='icon-item'><i class="fas fa-reply"></i><span>Reply</span></div>
                </div>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias sapiente ullam esse laudantium corporis pariatur.</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </div>
    
      <!-- Leave A Comment Form -->
      <div class="leave-reply">

        <!-- Comment Form -->
        <form class="form" action="#">
          <h3>Leave a Comment</h3> <!-- Heading -->
          <div class="input-box">
            <input type="text" name="name" class="box" id="name" placeholder="Name" required> <!-- Name Input -->
            <input type="email" name="email" class="box" id="email" placeholder="Email" required> <!-- Email Input -->
          </div>
          <textarea cols="30" rows="10" name="comment" class="box" id="comment" placeholder="Comment" required></textarea> <!-- Comment Textarea -->
          <input type="submit" value="Submit" class="btn"> <!-- Submit Button -->
        </form>

      </div>
    
    </div>
    <!-- ========== Blog-Info Container (End) ========== --> 

    <!-- ========== Blog Sidebar Area (Start) ========== -->
    <div class="sidebar">

      <!-- ===== Search Area (Start) ===== -->
      <div class="search sidebar-item">

        <div class="sidebar-heading">
          <h2>search</h2>
        </div>

        <!-- Blog Search Form -->
        <form class="blog-search-container box-container">
          <div class="input-box">
            <input type="search" id="blog-search" placeholder="search..." required> <!-- Search Input -->
            <button type="submit"><i class="fas fa-search"></i></button> <!-- Submit Button -->
          </div>
        </form>

      </div>
      <!-- ===== Search Area (End) ===== -->

      <!-- ===== Category Area (Start) ===== -->
      <div class="category sidebar-item">

        <div class="sidebar-heading">
          <h2>categories</h2>
        </div>

        <!-- Blog Categories -->
        <div class="box-container">
          <a href="#" class="item"> <span><i class="fa-solid fa-futbol"></i>Sport Center</span> <p>(30)</p> </a>
          <a href="#" class="item"> <span><i class="fa-solid fa-futbol"></i>Analysis</span> <p>(20)</p> </a>
          <a href="#" class="item"> <span><i class="fa-solid fa-futbol"></i>Interviews</span> <p>(15)</p> </a>
          <a href="#" class="item"> <span><i class="fa-solid fa-futbol"></i>Match Report</span> <p>(10)</p> </a>
          <a href="#" class="item"> <span><i class="fa-solid fa-futbol"></i>Tounaments</span> <p>(05)</p> </a>
        </div>

      </div>
      <!-- ===== Category Area (End) ===== -->

      <!-- ===== Recent Posts Area (Start) ===== -->
      <div class="recent-posts sidebar-item">

        <div class="sidebar-heading">
          <h2>recent posts</h2>
        </div>
 
        <!-- Recent Posts -->
        <div class="box-container">

          <!-- Recent Post 1 -->
          <div class="post-item">
            <img src="../../assets/images/Blog/Blogs/Blog-1.jpg" alt="Recent-Post-Image"> <!-- Post image -->
            <a class="main-heading" href="../../pages/Blog/Blog-Single.html">Complete List Of Football Equipment</a> <!-- Post title -->
          </div>

          <!-- Recent Post 2 -->
          <div class="post-item">
            <img src="../../assets/images/Blog/Blogs/Blog-2.jpg" alt="Recent-Post-Image"> <!-- Post image -->
            <a class="main-heading" href="../../pages/Blog/Blog-Single.html">A Brief History Of Royal Rebels</a> <!-- Post title -->
          </div>

          <!-- Recent Post 3 -->
          <div class="post-item">
            <img src="../../assets/images/Blog/Blogs/Blog-3.jpg" alt="Recent-Post-Image"> <!-- Post image -->
            <a class="main-heading" href="../../pages/Blog/Blog-Single.html">We Are A Family, Not Just A Team</a> <!-- Post title -->
          </div>

        </div>

      </div>
      <!-- ===== Recent Posts Area (End) ===== -->

      <!-- ===== Tags Area (Start) ===== -->
      <div class="tags sidebar-item">

        <div class="sidebar-heading">
          <h2>tags</h2>
        </div>

        <!-- Tags -->
        <div class="box-container">
          <a href="#" class="tag-item">Matches</a>
          <a href="#" class="tag-item">fixtures</a>
          <a href="#" class="tag-item">results</a>
          <a href="#" class="tag-item">Team</a>
          <a href="#" class="tag-item">Players</a>
          <a href="#" class="tag-item">Tournaments</a>
          <a href="#" class="tag-item">Store</a>
        </div>

      </div>
      <!-- ===== Tags Area (End) ===== -->

    </div>
    <!-- ========== Blog Sidebar Area (End) ========== -->

  </section>
  <!-- ==================== Blog Single (End) ==================== -->
  


  <!-- ==================== Footer Area (Start) ==================== -->
  <footer class="footer">

    <div class="box-container">
  
      <!-- == Club Information & Social Media Links == -->
      <div class="footer-item">
  
        <!-- Club Logo -->
        <a class="logo" href="../../index.html">
          <img src="../../assets/images/Logo/Logo.png" alt="logo">
        </a>

        <!-- Club Description -->
        <p>Your Reliable Partner for Passionate Football Excellence and Team Support. Your Trusted Partner for Inspiring Football Achievements.</p>

        <!-- Social Media Links -->
        <div class="social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
  
      </div>
  
      <!-- == Contact Info == -->
      <div class="footer-item">
        <h2>Contact Info</h2>
        <div class="info connect">
          <p><i class="fas fa-phone"></i><span>+123-456-789</span></p>
          <p><i class="fas fa-phone"></i><span>+111-222-333</span></p>
          <p><i class="fas fa-envelope"></i><span class="gmail">abc@gmail.com</span></p>
          <p><i class="fas fa-envelope"></i><span class="gmail">xyz@gmail.com</span></p>
          <p><i class="fas fa-map-marker-alt"></i><span>Karachi, Pakistan</span></p>
        </div>
      </div>
  
      <!-- == Quick Links == -->
      <div class="footer-item">
        <h2>Quick Links</h2>
        <div class="info links">
          <p><i class="fa-solid fa-futbol"></i><a href="../../pages/About/About.html">About</a></p>
          <p><i class="fa-solid fa-futbol"></i><a href="../../pages/Pages/Fixtures.html">Fixtures</a></p>
          <p><i class="fa-solid fa-futbol"></i><a href="../../pages/Team/Team.html">Team</a></p>
          <p><i class="fa-solid fa-futbol"></i><a href="../../pages/Result/Results.html">Results</a></p>
          <p><i class="fa-solid fa-futbol"></i><a href="../../pages/Blog/Blog-Grid.html">Blogs</a></p>
          <p><i class="fa-solid fa-futbol"></i><a href="../../pages/Contact/Contact.html">Contact</a></p>
        </div>
      </div>
  
      <!-- == Newsletter Subscription == -->
      <div class="footer-item">

        <h2>Newsletter</h2>
        <p>Stay connected for the latest updates on special events and exciting moments at our football club.</p> <!-- Newsletter Description -->
        
        <form class="dark-form">
          <div class="input-field">
            <label for="news-email" class="fas fa-envelope"></label>
            <input type="email" id="news-email" name="email" class="box" placeholder="Your email address" required> <!-- Email Input Field -->
          </div>   
          <button type="submit" class="btn">Subscribe</button> <!-- Subscribe Button -->
        </form>

      </div>      
  
    </div>
  
    <!-- == Designer's Name and Copyright == -->
    <div class="content">
      <p>Designed by AS_Designs | All rights reserved</p>
    </div>
  
  </footer>
  <!-- ==================== Footer Area (End) ==================== -->

 

  <!-- Jquery -->
  <script src="../../assets/vendors/jquery/jquery.min.js"></script>

  <!-- Magnific-Popup JS -->
  <script src="../../assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom Script Files -->
  <script src="../../assets/js/script.js"></script> <!-- Custom JavaScript file with additional website functionality. -->
  <script src="../../assets/js/nav-link-toggler.js"></script> <!-- Manages navigation link toggling (e.g., hamburger menu) for mobile devices -->
  <script src="../../assets/js/page-gallery.js"></script> <!-- Manages the gallery functionality of lightbox view. -->



</body>
</html>